@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");



/* Estilos generales */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos de botones */
button {
    background-color: #9c522b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #303f9f;
  }
  
select{
  size: 100px;
  width: 200px;
}

  .grid-container {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px;
  }
  
  .grid-item {
    background-color: #c0bcb3;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  
  .grid-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
    max-height: 70%;
    display: flex;
    margin: auto;
  }

  .img-item {
    margin: 0;
    padding: 0;

  }
  
  .titulo-item {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  .parrafo-item{
    text-align: justify;
    display: block;
    }

    .formulario-container {
      background-color: #e0c481;
      align-items: center;
      padding: 10px;
      text-align: center;
      font-size: large;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

    }
  

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
}

section {
    padding: 20px;
    margin-top: 30px;
    border: 1px solid #ccc;
}

section a {
    align-content: center;
    text-align: justify;
    
}

h1, h2, h3 {
    margin: 0;
    text-align: center;
}

/* Estilos responsivos */

/* Estilos para dispositivos móviles pequeños (hasta 480px) */
@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .grid-item {
    padding: 10px;
    text-align: center;
  }
  
  .titulo-item {
    font-size: 16px;
  }

  /* Esconde la navegación principal */
  header nav {
    display: none;
  }
  
}

/* Estilos para dispositivos móviles medianos (hasta 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-item {
    padding: 15px;
  }
  
  .titulo-item {
    font-size: 20px;
  }
}

/* Estilos para dispositivos de escritorio (a partir de 769px) */
@media screen and (min-width: 769px) {
  .grid-item {
    padding: 20px;
  }
  
  .titulo-item {
    font-size: 24px;
  }
}

/* Estilos del menú hamburguesa */

#menu-icon {
  width: 30px;
  height: 30px;
  background-color: #333;
  cursor: pointer;
}

#menu-items {
  display: none;
}

#menu-items.visible {
  display: block;
}

/* Estilos responsivos */

@media screen and (max-width: 768px) {
  #menu-items {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #f2f2f2;
    padding: 10px;
  }

  #menu-items li {
    margin-bottom: 10px;
  }
}


/* Estilos específicos para secciones */

#recetas {
    background-color: #f2f2f2;
}

#recetas ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#recetas li {
    margin-bottom: 10px;
}

#recetas li a {
    color: #fffdfd;
}

#contacto label {
    display: block;
    margin-bottom: 10px;
}

#contacto input[type="text"],
#contacto input[type="email"],
#contacto textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#contacto input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#sobre-nosotros p {
    line-height: 1.5;
}


/* Estilos para pie de página */

footer {
    background-color: #e20505;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
}
.social {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
  }
  
  .social a {
    color: #e5ff00;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  .social li {
    margin-left: 20px;
    margin-bottom: -10px;
  }
  

